@import url('https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@500&display=swap');

body{
    margin: 0;
    font-family: Edu QLD Beginner, cursive;
}

.Exodia{
    width:0px;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: rgb(10, 17, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
h1{
    color: white;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:rgb(14, 25, 66);
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;

}
.card-login{
    color: aquamarine;
    font-weight: 800;
    margin: 0;

}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: flex-start;
    align-items: flex-start;
    justify-content: center;
}
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background:rgb(14, 25, 66);
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgb(21, 39, 102);
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: white;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: gray;

}
.btn-login{
    width:100px;
    padding: 16px 0px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:rgb(14, 25, 66);
    background: white;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(26, 47, 122);
}
/*
@media only screen and (min-width: 950px){
    .card-login{
        width:85%
    }
}
@media only screen and (min-width: 600px){
    .main-login{
        flex-direction: column;
    }
}
.left-login > h1{
    display: none;

}
.left-login{
    width:100%;
    height: auto;

}
.right-login{
    width:100%;
    height: auto;
} 
ESSA PARTE É SOBRE A ADAPTAÇÃO EM DISPOSITIVOS MÓVEIS.
*/